<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
    	<div class="header">
        <nav class="login-menu">
        	<div class="menu-top">
		        <a th:href="@{#}">Log in</a>
		        <a th:href="@{#}">sign up</a>
	        </div>
        </nav>
        <nav class=menu>
	        <div class="menu-center">
		         <a th:href="@{/}">Home</a>
		         <a th:href="@{#}">About</a>
		         <a href="#">Contact</a>
					</div>
				</nav>
      </div>
    </header>
    <main>
    <div layout:fragment="content">
    </div>
 
		</main>
    <footer>
        <p>Copyright vibration727; 2023</p>
    </footer>
</body>
</html>
