<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/hello}">About</a></li>
                <li><a href="#">Contact</a></li>
                
            </ul>
        </nav>
    </header>
    <div layout:fragment="content">
    <div layout:include="hello"></div>
    </div>

    <footer>
        <p>Copyright vibration727; 2023</p>
    </footer>
</body>
</html>
