	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="layouts/default">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<div layout:fragment="content">
		<form method="post" action="checkPassWordPro.do" th:object="${user}">
			<div class="container">
				<div class="wrapper">
				
					<div>
						<h3><label>비밀번호 확인</label></h3>
						<div>
						<h3><label>Pw1</label></h3>
						<span>
							<input type="password" id="pswd1" maxlength="20">
						</span>
						<span class="error_next_box"></span>
						</div>
					</div>
					<div>
						<h3><label>Pw2</label></h3>
						<span>
							<input type="password" id="pswd2" name="PassWord" maxlength="20">
						</span>
						<span class="error_next_box"></span>
					</div>
				</div>
				<div>
					<button type="submit" id="btnjoin" onClick="return comparePw()">
						<span>확인</span>
					</button>
				</div>
				<div th:if="${msg != null}">
					<div style="color: red;">
						<span th:text="${msg}"></span>
					</div>
				</div>	
				 <script type="text/javascript" th:src="@{/script/pwCheck.js}"></script>
			</div>
			</form>
		</div>
	</body>
	</html>