	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="layouts/default">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<div layout:fragment="content">
			<form method="post" action="/editPassWordPro.do">
				<div class="container">
					<div class="wrapper">
						<h3><label>비밀번호 변경</label></h3>
						<div>
							<h3><label>비밀번호</label></h3>
							<span>
								<input type="password" id="pswd1" maxlength="20">
							</span>
							<span class="error_next_box"></span>
						</div>
						<div>
						<h3><label>비밀번호 확인</label></h3>
						<span>
							<input type="password" id="pswd2" name="PassWord" maxlength="20">
						</span>
						<span class="error_next_box"></span>
						</div>
						<div>
							<button type="submit" id="btnjoin" onclick="return comparePw()">
								<span>변경</span>
							</button>
						</div>
					</div>
					<script type="text/javascript" th:src="@{/script/pwCheck.js}"></script>
				</div>
			</form>
		</div>
	</body>
	</html>