@charset "UTF-8";

html{
		height: 100%;
}

.login-menu{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
 }
.menu-top a{
	margin-right: 30px;
}
.menu{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.menu-center a{
	margin: 40px; 
	
}
main{
	display:inline-block;
	width: 1200px;
	height: 800px;

	box-sizing: border-box;
	margin: 10px;
}

