<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Home</title>
</head>
<body>
   <div layout:fragment="content">
        <main>
            <section>
                <h1>Welcome to my website</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales ligula eu nibh convallis, ut viverra nibh tristique.</p>
            </section>
            
        </main>
    </div>
</body>
</html>
